In [ ]:
#A recommendation algorithm is a method used to suggest relevant items (like movies, products, or songs) to users based on their preferences, behavior, or similarities with other users. Common types include:

# Content-based filtering: Recommends items similar to those a user liked before.
# Collaborative filtering: Recommends items based on what similar users liked.
# Hybrid methods: Combine both approaches for better accuracy.
# These algorithms are widely used in platforms like Netflix, Amazon, and Spotify to personalize user experience.

In [ ]:
import pandas  as pd
import numpy   as np

In [ ]:
movies=pd.read_csv('tmdb_5000_movies.csv')
movies.head()

In [ ]:
movies.genres[0]

In [ ]:
movies.keywords[0]

In [ ]:
credits=pd.read_csv('tmdb_5000_credits.csv')
credits

In [ ]:
credits.head(1)['cast'].values

In [ ]:
credits.iloc[0]

In [ ]:
credits.head(1)['cast'].values

In [ ]:
credits.head(1)['crew'].values

In [ ]:
movies=movies.merge(credits,on='title')

In [ ]:
movies.columns

In [ ]:
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]
movies.sample(20)

In [ ]:
#Preprocessing the data

In [ ]:
movies.isnull().sum()

In [ ]:
movies.dropna(inplace=True) #dropna basically ye karta hay missing values ko hatadeta hay

In [ ]:
movies.isnull().sum() # it tells the count of missing values in each column

In [ ]:
movies.duplicated().sum()

In [ ]:
movies.iloc[0].genres

In [ ]:
import ast #ast module helps to convert string representation of list or dictionary into actual list or dictionary

In [ ]:
def convert(obj):
    try:
        L = []
        for i in ast.literal_eval(obj):
            L.append(i['name'])
        return L
    except Exception:
        return []

In [ ]:
convert('[{"id": 28, "name": "Action"}], [{"id": 12, "name": "Adventure"}], [{"id": 14, "name": "Fantasy"}], [{"id": 878, "name": "Science Fiction"}]')

In [ ]:
movies['genres'] = movies['genres'].apply(convert)
movies

In [ ]:
movies = pd.read_csv('tmdb_5000_movies.csv')
movies.columns

In [ ]:
movies['genres'] = movies['genres'].apply(convert)
movies

In [ ]:
movies.iloc[0].keywords

In [ ]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.keywords

In [ ]:
movies.iloc[0].cast

In [ ]:
print(movies.columns)

In [ ]:
movies.overview[0]

In [39]:
movies['overview'] = movies['overview'].apply(lambda x: x.split() if isinstance(x, str) else [])

In [40]:
movies.overview[0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']