In [12]:
df1

     name  marks
0   Azzam     90
1  Yaseen     80
2     Ali     70

In [11]:
df1=pd.DataFrame({
    "name":["Azzam","Yaseen","Ali"],
    "marks":[90,80,70]
})

In [ ]:
df["SL"][0]

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.iloc[0]

In [ ]:
import pandas as pd

df = pd.read_csv("C:/Users/Home/Downloads/archive/iris.csv")
df.head()

In [ ]:
import pandas as pd

df = pd.read_csv("C:/Users/Home/Downloads/archive/iris.csv")

In [ ]:
df=pd.read_csv("C:/Users/Home/Downloads/archive/iris.csv")

In [ ]:
import pandas as pd

# Simple DataFrame
data = {'Name': ['Ali', 'Sara', 'Ahmed'], 'Age': [20, 22, 21]}
df = pd.DataFrame(data)

print(df)

In [ ]:
import pandas as pd
print(pd.__version__)